In [1]:
from config import url, user_email, user_password
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests
from datetime import datetime, timedelta

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
browser.visit(url)
browser.find_by_id('ius-userid').first.fill(user_email)
browser.find_by_id('ius-password').first.fill(user_password)
browser.find_by_id('ius-sign-in-submit-btn').first.click()

In [4]:
browser.click_link_by_partial_text('Transactions')

In [19]:
html=browser.html
transactions = pd.read_html(html)[7]
transactions = transactions[['Date','Description','Category','Amount']]
transactions

          Date     Description          Category      Amount
   Pending (4)     Pending (4)       Pending (4) Pending (4)
0       Jan 20    CHECK # 1130             Check    -$300.00
1       Jan 20    Edward Jones  IRA Contribution     -$50.00
2       Jan 20    Edward Jones  IRA Contribution     -$50.00
3       Jan 18          Amazon          Shopping     -$99.86
4       Jan 19  MOBILE DEPOSIT            Income   $1,301.11
..         ...             ...               ...         ...
95         NaN             NaN               NaN         NaN
96         NaN             NaN               NaN         NaN
97         NaN             NaN               NaN         NaN
98         NaN             NaN               NaN         NaN
99         NaN             NaN               NaN         NaN

[100 rows x 4 columns]

In [18]:
transactions.drop['Pending (4)']

TypeError: 'method' object is not subscriptable

In [8]:
yesterday=datetime.now()-timedelta(1)
yesterday

datetime.datetime(2021, 1, 19, 15, 26, 37, 851718)

In [4]:
browser.quit()