In [1]:
from config import url, user_email, user_password
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests
from datetime import datetime, timedelta

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
browser.visit(url)
browser.find_by_id('ius-userid').first.fill(user_email)
browser.find_by_id('ius-password').first.fill(user_password)
browser.find_by_id('ius-sign-in-submit-btn').first.click()

In [4]:
browser.click_link_by_partial_text('Transactions')

In [15]:
html=browser.html
transactions = pd.read_html(html)[7]
transactions.head()

,Unnamed: 0_level_0,Date,Unnamed: 2_level_0,Description,Category,Unnamed: 5_level_0,Unnamed: 6_level_0,Amount
,Pending (4),Pending (4),Pending (4),Pending (4),Pending (4),Pending (4),Pending (4),Pending (4)
0,NaN,Jan 20,NaN,CHECK # 1130,Check,NaN,NaN,-$300.00
1,NaN,Jan 20,NaN,Edward Jones,IRA Contribution,NaN,NaN,-$50.00
2,NaN,Jan 20,NaN,Edward Jones,IRA Contribution,NaN,NaN,-$50.00
3,NaN,Jan 18,NaN,Amazon,Shopping,NaN,NaN,-$99.86
4,NaN,Jan 19,NaN,MOBILE DEPOSIT,Income,NaN,NaN,"$1,301.11"

In [8]:
yesterday=datetime.now()-timedelta(1)
yesterday

datetime.datetime(2021, 1, 19, 15, 26, 37, 851718)

In [4]:
browser.quit()