In [1]:
from config import url, user_email, user_password
from splinter import Browser
import pandas as pd
from datetime import datetime, timedelta

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
browser.visit(url)
browser.find_by_id('ius-userid').first.fill(user_email)
browser.find_by_id('ius-password').first.fill(user_password)
browser.find_by_id('ius-sign-in-submit-btn').first.click()

In [4]:
browser.click_link_by_partial_text('Transactions')

In [5]:
yesterday=datetime.now()-timedelta(1)
yesterday=datetime.strftime(yesterday, '%b %d')

In [6]:
html=browser.html
transactions = pd.read_html(html)[7]
transactions = transactions[['Date','Description','Category','Amount']].droplevel(1,axis=1)
transactions=transactions[transactions['Date']==yesterday]
transactions

     Date   Description          Category    Amount
0  Jan 20  CHECK # 1130             Check  -$300.00
1  Jan 20  Edward Jones  IRA Contribution   -$50.00
2  Jan 20  Edward Jones  IRA Contribution   -$50.00

In [7]:
browser.click_link_by_partial_text('Budgets')

In [ ]:
browser.quit()